<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Registrar<h2>
    <% data.forEach(function(details) { %>
    <form action="/edit/<%= details._id %>" method="POST">
        <input type="text" placeholder="Nome" name="name" value="<%= details.name %>">
        <input type="text" placeholder="Sobrenome" name="surname" value="<%= details.surname %>">
        <button type="submit">Submit</button>
    </form>
    <% }) %> 
    <br>

</body>
</html>